.consentForm {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.formItemsContainer {
	display: flex;
	flex-direction: column;
	height: 100%;

	:global(.ant-form-item) {
		min-height: 3rem;
	}

	:global(.ant-form-item-row) {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		flex-flow: inherit;
	}

	:global(.ant-form-item-label) {
		display: flex;
		justify-content: flex-start;
	}

	input {
		border: 1px solid var(--colorText);
		font-size: 1.5rem;
	}
}

.optionsContainer {
	display: flex;
	justify-content: center;
	padding: 0;
	width: 100%;
	flex-wrap: nowrap;
	:global(.ant-form-item-control-input-content) {
		display: flex;
		flex-direction: column;
	}

	:global(.ant-checkbox) {
    border: 1px solid rgba(255,255,255,0);
    transition: border-color 300ms linear;

		&:not(:has(:checked)) {
			border-color: var(--colorText);
		}
	}
}

.personalInfoContainer {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 5%;
}

.actionsContainer {
	display: flex;
	justify-content: center;
}
