.consentForm {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 5rem;
	:global(.ant-form-item-row) {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
    flex-flow: inherit;
	}
}

.formItemsContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 2rem;
}

.optionsContainer {
	display: flex;
	justify-content: center;
	padding: 0;
	width: 100%;
  flex-wrap: nowrap;
	:global(.ant-form-item-control-input-content) {
		display: flex;
		flex-direction: column;
	}
}

.personalInfoContainer {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.actionsContainer {
	display: flex;
	justify-content: center;
}

@media screen and (min-width: 900px) {
  .consentForm {
    :global(.ant-form-item-row) {
      flex-flow: column;
    }
  }
}
